# {{ ansible_managed }}

sonatypeWork: ./sonatype-work/clm-server

licenseFile: ./sonatype-work/clm-server/license.lic

# Base URL of the Sonatype CLM server for user facing links back to the server.
# If a mail server is configured, then the baseUrl setting must also be enabled and correct as otherwise notification emails cannot be sent.
baseUrl: {{ iqserver_base_url }}

policyMonitoringHour: 0
csrfProtection: true

server:
	applicationContextPath: /

	applicationConnectors:

		- type: http
			port: 8070
{% if iqserver_use_apache %}
			bindHost: 127.0.0.1  # only bind to loopback
{% endif %}

	adminConnectors:
		- type: http
			port: 8071
{% if iqserver_use_apache %}
			bindHost: 127.0.0.1  # only bind to loopback
{% endif %}

	# HTTP request log settings.
	requestLog:
		appenders:
			- type: file
				currentLogFilename: ./log/request.log
				logFormat: "%clientHost %l %user [%date] \"%requestURL\" %statusCode %bytesSent %elapsedTime \"%header{User-Agent}\""
				archivedLogFilenamePattern: ./log/request-%d.log.gz
				archivedFileCount: 50

{% if iqserver_enable_jira_integration %}
jira:
	url: {{ iqserver_jira_server }}

	# The username used to connect to the JIRA server
	username: {{ iqserver_jira_username }}

	# The password used to connect to the JIRA server
	password: {{ iqserver_jira_api_token }}

# TODO add custom field support
{% endif %}

{% if iqserver_enable_rut %}
reverseProxyAuthentication:

	enabled: true
	usernameHeader: {{ iqserver_rut_username_header }}
	logoutUrl: {{ iqserver_rut_logout_url }}
	# For backwards compatibility of client requests - skips CSRF protection when using RUT
	#csrfProtectionDisabled: false
{% endif %}

logging:

	# The default level of all loggers. Can be OFF, ERROR, WARN, INFO, DEBUG, TRACE, or ALL.
	level: {{ iqserver_base_log_level }}

	# Logger-specific settings.
	loggers:
		"com.sonatype.insight.scan": INFO
		"eu.medsea.mimeutil.MimeUtil2": INFO
		"org.apache.http": INFO
		"org.apache.http.wire": ERROR
		"org.eclipse.birt.report.engine.layout.pdf.font.FontConfigReader": WARN
		"org.eclipse.jetty": INFO
		"org.apache.shiro.web.filter.authc.BasicHttpAuthenticationFilter": INFO   # WARNING: This reveals credentials at DEBUG level
		"com.sonatype.insight.audit":
			appenders:
			- type: file
				# The file to which audit statements will be logged.
				currentLogFilename: ./log/audit.log
				# When the audit log file rotates, the archived audit log will be renamed to this and gzipped. The
				# %d is replaced with the previous day (yyyy-MM-dd). Custom rolling windows can be created
				# by passing a SimpleDateFormat-compatible format as an argument: "%d{yyyy-MM-dd-hh}".
				#
				# If archive is true, this must be specified.
				archivedLogFilenamePattern: ./log/audit-%d.log.gz
				# The number of archived audit log files to keep.
				archivedFileCount: 50
		#"com.sonatype.insight.policy.violation":
			#appenders:
				#- type: file
					# The file to which policy violations will be logged.
					#currentLogFilename: ./log/policy-violation.log
					# When the policy violation log file rotates, the archived policy violation log will be renamed to this
					# and gzipped. The %d is replaced with the previous day (yyyy-MM-dd). Custom rolling windows can be created
					# by passing a SimpleDateFormat-compatible format as an argument: "%d{yyyy-MM-dd-hh}".
					#
					# If archive is true, this must be specified.
					#archivedLogFilenamePattern: ./log/policy-violation-%d.log.gz
					# The number of archived policy violation log files to keep.
					#archivedFileCount: 5

	appenders:

			# Settings for logging to stdout.
		- type: console

			# Do not display log statements below this threshold to stdout.
			threshold: INFO

			logFormat: "%d{'yyyy-MM-dd HH:mm:ss,SSSZ'} %level [%thread] %X{username} %logger - %msg%n"

			# Settings for logging to a file.
		- type: file

			# Do not write log statements below this threshold to the file.
			threshold: ALL

			logFormat: "%d{'yyyy-MM-dd HH:mm:ss,SSSZ'} %level [%thread] %X{username} %logger - %msg%n"

			# The file to which current statements will be logged.
			currentLogFilename: ./log/clm-server.log

			# When the log file rotates, the archived log will be renamed to this and gzipped. The
			# %d is replaced with the previous day (yyyy-MM-dd). Custom rolling windows can be created
			# by passing a SimpleDateFormat-compatible format as an argument: "%d{yyyy-MM-dd-hh}".
			#
			# If archive is true, this must be specified.
			archivedLogFilenamePattern: ./log/clm-server-%d.log.gz

			# The number of archived files to keep.
			archivedFileCount: 50

# Sample data is created for new installs.
createSampleData: {{ iqserver_create_sample_data }}