# {{ ansible_managed }}
[Unit]
Description=Nexus IQ Service
{% if wait_for_sonatype-work_mount %}
Requires={{ iqserver_base_dir|replace("/", "-") }}-sonatype\x2dwork.mount
After=network.target {{ iqserver_base_dir|replace("/", "-") }}-sonatype\x2dwork.mount
{% else %}
After=network.target
{% endif %}

[Service]
Type=simple
ExecStart=/etc/init.d/iqserver start
ExecStop=/etc/init.d/iqserver stop
User={{ iqserver_user }}
Restart=on-abort

[Install]
WantedBy=multi-user.target
