## {{ ansible_managed }}

ProxyRequests Off
ProxyPreserveHost On


<VirtualHost *:80>

  ProxyPassMatch ^/server-status !
  ServerName			{{ iqserver_url_hostname }}
  ProxyPass 	   {{ iqserver_url_context_path }}	http://localhost:8070{{ iqserver_url_context_path }}
  ProxyPassReverse {{ iqserver_url_context_path }}	http://localhost:8070{{ iqserver_url_context_path }}

  ErrorLog /var/log/httpd/error_log
  CustomLog /var/log/httpd/access_log {{ iqserver_apache_log_format }}
</VirtualHost>
